@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* Variáveis de Cores e Fontes */
:root {
    --cor-primaria: #040303;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #B3541E;
    --cor-hover: #A13333;
    --cor-link: #ffffff;
    --cor-link-border: #A13333;
    --cor-rodape: #461111;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/* Reset de Margens e Preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    height: 100%;
    width: 100%;
}

/* Estilos do Header */
header {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 10px 2%;
    text-align: center;
}

header h1 {
    font-family: var(--fonte-primaria);
}

nav {
    margin-top: 10px;
}

nav a {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilos do Main */
main {
    padding: 20px;
    text-align: center;
}

button {
    background-color: var(--cor-terciaria);
    border: none;
    border-radius: 5px;
    color: var(--cor-secundaria);
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px 20px;
    text-align: center;
    margin: 20px 0;
    text-decoration: none;
}

button:hover {
    background-color: var(--cor-hover);
}

/* Estilos do Footer */
footer {
    background-color: var(--cor-rodape);
    color: var(--cor-secundaria);
    padding: 20px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

/* Estilos de Responsividade */
@media (max-width: 1200px) {
    header {
        padding: 5%;
    }

    nav {
        margin-top: 5px;
    }

    main {
        padding: 10px;
    }

    button {
        font-size: 1.25rem;
        padding: 8px 16px;
    }
}



/* Estilo para o Contêiner de Pré-Visualização */
#preview-container {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000; /* Para garantir que fique sobre outros elementos */
}

#preview-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px; /* Cantos arredondados */
}

/* Adiciona um estilo para esconder o contêiner inicialmente */
.hidden {
    display: none;
}

